{{ knp_menu_render('BlogBundle:Builder:mainMenu') }}

{% include ('_search.html.twig') %}

{% block body %}

    {% for category in categories %}
        <div>{{ category.image | raw }}</div>
        <h2>{{ category.title }} </h2>
        <h5>at {{ category.createdAt | lower }}</h5>
        <p>{{ category.content }}</p>
        <a href="{{ path('blog_posts', {id: category.id}) }}">View posts</a>
    {% endfor %}

{% endblock %}